@import "../../../index.scss";

.hero-aside {
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 2em;
  position: fixed;
  height: 100vh;
  justify-content: center;
  .aside-line {
    height: 40vh;
    background-color: var(--color-primary);
    width: 0.15em;
    margin: 0.6em;
  }
  span {
    text-align: center;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    height: 10vh;
    gap: 5%;
    a {
      text-decoration: none;
      .dark-theme & {
        color: $DM-Title;
      }
      .light-theme & {
        color: $LM-Title;
      }
      & :hover {
        color: var(--color-primary);
        transition: transform 0.5s;
      }
    }
  }
  // Media queries
  @media (max-width: 599px) {
    display: none;
  }
  @media (min-width: 600px) and (max-width: 991px) {
  }
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  @media (min-width: 1200px) {
  }
}
