@import "../../../index.scss";
.contact {
  display: flex;
  flex-direction: row;
  .contact-container {
    display: flex;
    padding: 3em 0;
    // Media queries
    @media (max-width: 599px) {
      flex-direction: column;
    }
    @media (min-width: 600px) and (max-width: 991px) {
      flex-direction: column;
      width: 100%;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
    }
    @media (min-width: 1200px) {
    }
    .contact-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // Media queries
      @media (max-width: 599px) {
      }
      @media (min-width: 600px) and (max-width: 991px) {
        width: 100%;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
      }
      @media (min-width: 1200px) {
        width: 40%;
        padding: 0 1.5rem;
      }
      .contact-left-content {
        display: flex;
        flex-direction: column;
        text-align:justify;
        /*         .contact-mini-box {
          width: 65%;
          border: solid 1px;
          padding: var(--padding-1);
          margin-top: 1.5em;
          h6 {
            font-weight: var(--fw-4);
            color: var(--DM-Title);
          }
          ul li {
            margin-top: 0.5em;
            list-style: none;
            a {
              text-decoration: none;
              .dark-theme & {
                color: $DM-Title;
              }
              .light-theme & {
                color: $LM-Title;
              }
              &:hover {
                color: $primary-color;
              }
            }
          }
        } */
      }
    }
    .contact-right {
      color: $LM-Title;
      font-size: 0.8rem;
      @media (max-width: 599px) {
        margin-top: 2.5rem;
      }
      @media (min-width: 600px) and (max-width: 991px) {
        width: 100%;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
      }
      @media (min-width: 1200px) {
        width: 60%;
      }
      .contact-right-form {
        display: flex;
        flex-direction: column;
        font-weight: var(--fw-3);
        font-size: 1.1em;
        margin: 0 auto;
        input,
        textarea,
        button {
          padding: 0.35rem;
          align-items: center;
          justify-content: center;
          border-radius: 0.5rem;
          margin-top: 1.2rem;
        }
        @media (max-width: 599px) {
        }
        @media (min-width: 600px) and (max-width: 991px) {
          margin-top: 1.5rem;
          width: 100%;
          gap: 1.25rem;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
        }
        @media (min-width: 1200px) {
          width: 86%;
        }
        .input-send {
          color: $LM-Title;
          border: solid 1px;

          &:hover {
            color: var(--color-primary);
            transition: 0.3s;
          }
          @media (max-width: 599px) {
          }
          @media (min-width: 600px) and (max-width: 991px) {
            //margin-top: 1.5rem;
            width: 100%;
          }
          @media (min-width: 992px) and (max-width: 1199px) {
          }
          @media (min-width: 1200px) {
            width: 100%;
            margin-top: 2em;
            padding: 0.4em 1.1em 0.4em 1.1em;
          }
        }
      }
    }
  }
}
