@import "../../../index.scss";
.contact {
  display: flex;
  flex-direction: row;
  .contact-container {
    display: flex;
    padding: 3em 0;
    // Media queries
    @media (max-width: 599px) {
      flex-direction: column;
    }
    @media (min-width: 600px) and (max-width: 991px) {
      flex-direction: column;
      width: 100%;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      flex-direction: column;
    }
    @media (min-width: 1200px) {
    }
    .contact-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // Media queries
      @media (max-width: 599px) {
      }
      @media (min-width: 600px) and (max-width: 991px) {
        width: 100%;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
      }
      @media (min-width: 1200px) {
        width: 40%;
        padding: 0 1.5rem;
      }
      .contact-left-content {
        display: flex;
        flex-direction: column;
        text-align: left;
      }
    }
    .contact-right {
      color: $LM-Title;
      font-size: 0.8rem;
      @media (max-width: 599px) {
        margin-top: 2.5rem;
      }
      @media (min-width: 600px) and (max-width: 991px) {
        width: 100%;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
      }
      @media (min-width: 1200px) {
        width: 60%;
      }
      .contact-right-form {
        display: flex;
        flex-direction: column;
        font-weight: var(--fw-3);
        font-size: 1.1em;
        margin: 0 auto;
        input,
        textarea,
        button {
          padding: 0.5rem;
          align-items: center;
          justify-content: center;
          border-radius: 0.5rem;
          margin-top: 1.2rem;
          border: 0.5rem;
          .dark-theme & {
            color: $DM-Title;
            border: 0.1rem solid $primary-color;
            background-color: $BgDark;
          }
          .light-theme & {
            color: $DM-Title;
            border: 0.1rem solid $primary-color;
            background-color: rgb(68, 68, 68);

          }
        }
        @media (max-width: 599px) {
        }
        @media (min-width: 600px) and (max-width: 991px) {
          margin-top: 1.5rem;
          width: 100%;
          gap: 1.25rem;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
        }
        @media (min-width: 1200px) {
          width: 86%;
        }
        .recaptcha {
          margin: 0 auto;
          padding: 2rem 0;
        }
        .input-send {
          color: $LM-Title;
          border: solid 1px;

          &:hover {
            color: var(--color-primary);
            transition: 0.3s;
          }
          @media (max-width: 599px) {
          }
          @media (min-width: 600px) and (max-width: 991px) {
            //margin-top: 1.5rem;
            width: 100%;
          }
          @media (min-width: 992px) and (max-width: 1199px) {
          }
          @media (min-width: 1200px) {
            width: 100%;
            margin-top: 2em;
            padding: 0.4em 1.1em 0.4em 1.1em;
          }
        }
      }
    }
  }
}
