@import "../../../index.scss";
.hobbies {
  display: flex;
  flex-direction: column;

  .hobbies-container {
    display: flex;
    padding: 3em 0;
    flex-direction: column;

    // Media queries
    @media (max-width: 599px) {
    }
    @media (min-width: 600px) and (max-width: 991px) {
    }
    @media (min-width: 992px) and (max-width: 1199px) {
    }
    @media (min-width: 1200px) {
    }
    .hobbies-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // Media queries
      @media (max-width: 599px) {
      }
      @media (min-width: 600px) and (max-width: 991px) {
      }
      @media (min-width: 992px) and (max-width: 1199px) {
      }
      @media (min-width: 1200px) {
        padding: 0 1.5rem;
      }
    }
  }
}
