@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
:root {
  --color-primary: #ff8906;
  --color-secondary: #f25f4c;
  --color-tertiary: #e53170;
  --color-titles: #fffffe;
  --parrafos: #a7a9be;
  --fondo: #0f0e17;
  --padding-1: 1em;
  --padding-2: 2em;
  --padding-3: 1.5em;

  --font-1: "Fira Code", monospace;
  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 500;
  --fw-4: 600;
  --fw-5: 700;
}

body {
  background-color: var(--fondo);
  font-family: var(--font-1);
}
