.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .footer-line {
    background-color: var(--parrafos);
    margin: 0 auto;
    margin-top: var(--padding-3);
    width: 85%;
    height: 1px;
    @media (min-width: 601px) {
    }
  }
  .footer-main {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-1);
    font-size: 1em;
    width: 90%;
    margin: 0 auto;
    @media (min-width: 601px) {
      padding: var(--padding-2);
      flex-direction: row;
    }
    @media (max-width: 601px) {
      padding: var(--padding-2);
      flex-direction: column;
    }
    .footer-left {
      p {
        margin: 0.5em 0;
      }
      .footer-title {
        font-weight: var(--fw-5);
        line-height: 1.5em;
        @media (min-width: 601px) {
          text-align: left;
        }
        @media (max-width: 601px) {
          text-align: center;
        }
      }
    }

    .footer-right {
      h5 {
        text-align: left;
        @media (max-width: 601px) {
          text-align: center;
        }
      }
      .footer-social-icons {
        display: flex;
        gap: 1rem;
        text-align: left;
        @media (max-width: 601px) {
          text-align: center;
          flex-direction: row;
          gap: 1.5rem;
          justify-content: center;
        }
      }
      a {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        gap: 0.9rem;
        font-size: 1.2rem;
        text-decoration: none;
        .dark-theme & {
          color: var(--DM-Title);
        }
        .light-theme & {
          color: var(--LM-Title);
        }
        &:hover {
          color: var(--color-primary);
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  .footer-derechos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &.dark-theme {
      color: var(--DM-Title);
    }
    &.light-theme {
      color: var(--LM-Title);
    }
    padding: var(--padding-1);
    font-size: 1em;
    @media (max-width: 600px) {
      padding-bottom: var(--padding-1);
    }
  }
  p,
  h5,
  a,
  span {
    &.dark-theme {
      color: var(--DM-Title);
    }
    &.light-theme {
      color: var(--LM-Title);
    }
  }
}
