name: vite-VPS CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]  # Solo las versiones soportadas
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'  # Solo ejecutar en push a main
    
    steps:
      - name: Copy files via SSH
        uses: appleboy/scp-action@v0.1.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "dist/" # Directorio donde Vite genera los archivos de producción
          target: "/home/web/wallydev.dev/public_html" # Ruta a la carpeta public_html en tu VPS

      - name: Execute remote commands via SSH
        uses: appleboy/ssh-action@v0.1.1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/web/wallydev.dev/public_html
            # Añade cualquier comando necesario para reiniciar tu aplicación, si es necesario
            # Por ejemplo, si usas PM2 o cualquier otro administrador de procesos:
            # pm2 restart your-app-name
